/*---------------CSS Common Style start now---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F3F1FF;

}

h2 {
    color: #562EFF;
    padding-bottom: 30px;
    font-size: 24px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/*-----------------Hedaer Section Start now---------------*/
header {
    background: #562EFF;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 40.42px;
    height: 51px;
}

.header-logo span {
    font-size: 24px;
    padding-left: 15px;
    color: #FFFFFF;
    font-weight: 500;
}

.navber {
    display: flex;
    align-items: center;
}

.navber ul li {
    list-style: none;
    display: inline;
}

.navber ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 35px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.navber img {
    width: 51px;
    height: 51px;
}

/*--------------------- Main section start now -----------------------*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

/*---Top Player and blog section start now----*/
.container {
    max-width: 870px;
    background: #FFFF;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 16px;
    margin: 30 auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.players .player img {
    width: 56px;
    height: 56px;
}

.player h4 {
    padding-left: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 16px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog .blog-img img {
    width: 177px;
    height: 117px;
}

.blog-info h3 {
    font-size: 20px;
    padding-left: 16px;
    line-height: 1.5;
}

.blog-info p {
    font-size: 16px;
    padding-left: 16px;
    color: #9F9F9F;
    padding-top: 10px;
}

.blog-info p span {
    color: #562EFF;
}


/*-------course section start now--------*/

.course-section {
    /* width: 100%;  */
    max-width: 870px;
    background: #FFFF;
    margin: 0 auto;
    padding: 30px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.course {
    box-shadow: 5px 7px 80px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.course .course-img-section img {
    width: 224px;
    height: 104px;

}

.course .course_info h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20.0336px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #1E1E1E;
}

.course .course_info h5 {
    color: #ED6B4F;
    font-style: normal;
    font-weight: normal;
    font-size: 14.6913px;
    line-height: 17px;
    padding-bottom: 12px;
}

.course-time-review {
    display: flex;
    justify-content: space-between;
}

.review .fas {
    font-size: 12px;
}

.fas.reviews {
    color: #FFC014;
}

.fas.unreview {
    color: #AEAEAE;
}

.course-time-review .time {
    background: #ff4a5f34;
    padding: 4px 10px;
    border-radius: 50px;
    color: #FF4A60;
    font-weight: 500;
}


/*-----------footer section start now----------*/
.footer-section {
    background: #04091E;
    margin-top: 30px;
    padding: 30px 20px;
    text-align: center;
}

.footer-section h3 {
    color: white;
    font-size: 18px;
}

.social-media {
    padding-top: 15px;
}

.social-media h5 {
    color: white;
    font-size: 17px;
    line-height: 2;
}

.social-media p {
    color: #bfc3c7;
    padding-bottom: 15px;
}

.social-icon .fab {
    color: white;
    padding-left: 7px;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        grid-template-columns: repeat(1, 320px);
    }

    .course .course-img-section img {
        width: 100%;

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-logo {
        padding-left: 10px;
    }

    .header-logo span {
        padding-left: 10px;
    }

    .navber {
        padding: 0 20px;
    }

    .navber ul li a {
        padding-right: 15px;
        font-size: 12px;
    }

    .container {
        max-width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }




}